@*HEADER MOH*@
<link rel="stylesheet" href="/css/header.css">
<script src="/js/header.js"></script>

<div class="header">
    <a class="title" href="index.cshtml">
        <img src="image/CVM-Logo.png" alt="CVM-Logo">
        <span>CỔNG THÔNG TIN TIÊM CHỦNG COVID-19</span>
    </a>

    <div class="nav">
        <div>
            <ul>
                <li class="menu-section">Tổng quan</li>
                <li class="menu-section">Dữ liệu</li>
                <li class="menu-section">Các đơn vị</li>
            </ul>
        </div>

        <a class="avatar" href="#">
            <img src="image/Avatar-MOH.png" alt="Avata Bộ Y Tế">
        </a>
    </div>

    <!-- DROP DOWN MENU PROFILE -->
    <div class="drop-down-menu" id="drop-down-menu-profile">
        <div class="holder">
            <ul>
                <li>Thông tin tài khoản</li>
                <li>Thông tin đơn vị</li>
                <li>Văn bản</li>
                <li>Đăng xuất</li>
                </a>
            </ul>
        </div>
    </div>
    <!-- END DROP DOWN MENU PROFILE -->
</div>
<!-- END HEADER -->

<div class="header-virtual"></div>