@{
    Layout = "_LayoutFeaturePage";
}
<link rel="stylesheet" href="/css/CitizenVaccination.css">
<script src="/js/CitizenVaccination.js"></script>

<!-- FUNCTION PANEL -->
<div class="holder-function-panel">
    <div class="function-panel">
        <br>
        <div class="filter-panel">
            <div class="filter-pane" id="filter-org">
                <label for="province-name">Tỉnh/Thành phố</label>
                <select type="text" name="province-name" id="select-province">
                    @{
                        @*<option value="">' . $citizen->get_provincename() . '</option>
                            $str = file_get_contents('local.json');
                            $local = json_decode($str, true); // decode the JSON into an associative array
                            $provincecode = -1;
                            for ($i = 0; $i < 63; $i++) {
                            if ($local[$i]['name'] != $citizen->get_provincename())
                            echo '
                            <option value="' . $i . '">' . $local[$i]['name'] . '</option>';
                            else
                            $provincecode = $i;
                            }
                            echo '
                            <script>
                                $("#select-province option:first-child").val(' . $provincecode . ');
                                $("#select-province option:first-child").after("<option value></option>");
                            </script>';*@
                    }
                </select>
                <label for="district-name">Quận/Huyện/Thị xã</label>
                <select type="text" name="district-name" id="select-district">
                    @{
                        @*echo '
                            <option value="">' . $citizen->get_districtname() . '</option>';
                            $districtcode = -1;
                            $i = 0;
                            while (isset($local[$provincecode]['districts'][$i])) {
                            if ($local[$provincecode]['districts'][$i]['name'] != $citizen->get_districtname())
                            echo '
                            <option value="' . $i . '">' . $local[$provincecode]['districts'][$i]['name'] . '</option>';
                            else
                            $districtcode = $i;
                            $i++;
                            }
                            echo '
                            <script>
                                $("#select-district option:first-child").val(' . $districtcode . ')
                                $("#select-district option:first-child").after("<option value></option>");
                            </script>';*@
                    }
                </select>

                <label for="town-name">Xã/Phường/Thị trấn</label>
                <select type="drop-down" name="town-name" id="select-town">
                    @{
                        @*echo '
                            <option value="">' . $citizen->get_townname() . '</option>';
                            $towncode = -1;
                            $i = 0;
                            while (isset($local[$provincecode]['districts'][$districtcode]['wards'][$i])) {
                            if ($local[$provincecode]['districts'][$districtcode]['wards'][$i]['name'] != $citizen->get_townname())
                            echo '
                            <option value="' . $i . '">' . $local[$provincecode]['districts'][$districtcode]['wards'][$i]['name'] . '</option>';
                            else
                            $towncode = $i;
                            $i++;
                            }
                            echo '
                            <script>
                                $("#select-town option:first-child").val(' . $towncode . ');
                                $("#select-town option:first-child").after("<option value></option>");

                            </script>';*@
                    }
                </select>
                <button class="btn-medium-bordered-icon btn-filter" id="btn-filter-org">
                    Tìm kiếm
                </button>
            </div>


            <div class="filter-pane" id="filter-schedule">
                <label for="start-date">Từ ngày</label>
                <input type="date" name="start-date" id="start-date">

                <label for="end-date">Đến ngày</label>
                <input type="date" name="end-date" id="end-date">

                <label for="vaccine">Vaccine</label>
                <select type="text" name="vaccine" id="vaccine">
                    <option value="">Tất cả</option>
                    <option value="Astra">AstraZeneca</option>
                    <option value="Corminaty">Corminaty (Pfizer)</option>
                    <option value="Sputnik">Sputnik V</option>
                    <option value="Vero">Verro Cell</option>
                    <option value="Moderna">Moderna</option>
                </select>
            </div>
        </div>

        <br>

        <div class="panel-list">
            <div class="list-name">
                <div class="organization" id="list-name-org">Danh sách bệnh viện</div>
                <div class="schedule" id="list-name-schedule">Danh sách lịch tiêm</div>
            </div>
            <br>

            <div class="holder">
                <div class="list-object list-org" id="list-org">
                </div>

                <div class="list-object list-schedule" id="list-schedule">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FUNCTION PANEL -->
<br>