 @*HEADER GENERAL*@
<link rel="stylesheet" href="/css/header.css">

<div class="header">
    <a class="title" href="index.cshtml">
        <img src="/image/CVM-Logo.png" alt="CVM-Logo">
        <span>CỔNG THÔNG TIN TIÊM CHỦNG COVID-19</span>
    </a>

    <div class="nav">
        <div>
            <ul>
                <li class="menu-section">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li class="menu-section">@Html.ActionLink("Khai báo", "MedicalForm", "Home")</li>
                <li class="menu-section">@Html.ActionLink("Thống kê", "Index", "Citizen")</li>
            </ul>
        </div>
        <button class="btn-login" id="btn-login">Đăng nhập</btn>
    </div>
</div>

<div class="header-virtual"></div>