@*HEADER  CITIZEN*@
<link rel="stylesheet" href="/css/header.css">
<script src="/js/header.js"></script>

<div class="header">
    <a class="title" href="index.cshtml">
        <img src="/image/CVM-Logo.png" alt="CVM-Logo">
        <span>CỔNG THÔNG TIN TIÊM CHỦNG COVID-19</span>
    </a>

    <div class="nav">
        <div>
            <ul>
                <li class="menu-section">@Html.ActionLink("Trang chủ", "Index", "Citizen")</li>

                <li class="menu-section">@Html.ActionLink("Khai báo", "MedicalForm", "Citizen")</li>

                <li class="menu-section">@Html.ActionLink("Tiêm chủng", "Vaccination", "Citizen")</li>
            </ul>
        </div>

        <a class="avatar" href="#">
            <img src="/image/Avatar-Citizen.png" alt="Avata công dân">
        </a>
    </div>

    <!-- DROP DOWN MENU PROFILE -->
    <div class="drop-down-menu" id="drop-down-menu-profile">
        <div class="holder">
            <ul>
                <li>Thông tin tài khoản</li>
                <li>Thông tin công dân</li>
                <li>Lịch đăng ký</li>
                <li>Chứng nhận</li>
                <li>Thêm người thân</li>
                <li>Đăng xuất</li>
            </ul>
        </div>
    </div>
    <!-- END DROP DOWN MENU PROFILE -->
</div>
<!-- END HEADER -->

<div class="header-virtual"></div>